<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="../../img/weather-favicon.png">
    <link rel="stylesheet" href="./css/styles.css" type="text/css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <h2>It is me {{name}} :D</h2>
        <br>
        <img class="myPhoto" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>
</html>